# Exploratory Data Analysis (EDA) example

This notebook will run through some of the basic analyses that you would typically do during EDA to get to know your data better. In this example, we will use data on the daily temperature in major global cities that can be downloaded from here: 
https://www.kaggle.com/datasets/sudalairajkumar/daily-temperature-of-major-cities

The data were originally sourced from the National Climatic Data Center, compiled by the University of Dayton. More info and data descriptions and documentation can be found here:
https://academic.udayton.edu/kissock/http/Weather/default.htm

I've added the `city_temperature.csv` file to the `data` folder in the course repository.

In [ ]:
# load in the packages you will need for your analysis

import pandas as pd  # pandas is a package for data analysis and manipulation
import seaborn as sn  # seaborn is a data visualization package

In [14]:
# load in the data using pandas

infile = '../data/city_temperature.csv'
data = pd.read_csv(infile, sep = ',')

# convert from F to C
data['AvgTemperatureC'] = (data.AvgTemperature - 32) * 5/9

data.info()

/Users/sclayton/opt/anaconda3/envs/soph/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3397: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2906327 entries, 0 to 2906326
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   Region           object
 1   Country          object
 2   State            object
 3   City             object
 4   Month            int64
 5   Day              int64
 6   Year             int64
 7   AvgTemperature   float64
 8   AvgTemperatureC  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 199.6+ MB

In [15]:
data.describe()

,Month,Day,Year,AvgTemperature,AvgTemperatureC
count,2.906327e+06,2.906327e+06,2.906327e+06,2.906327e+06,2.906327e+06
mean,6.469163e+00,1.571682e+01,2.006624e+03,5.600492e+01,1.333607e+01
std,3.456489e+00,8.800534e+00,2.338226e+01,3.212359e+01,1.784644e+01
min,1.000000e+00,0.000000e+00,2.000000e+02,-9.900000e+01,-7.277778e+01
25%,3.000000e+00,8.000000e+00,2.001000e+03,4.580000e+01,7.666667e+00
50%,6.000000e+00,1.600000e+01,2.007000e+03,6.250000e+01,1.694444e+01
75%,9.000000e+00,2.300000e+01,2.013000e+03,7.550000e+01,2.416667e+01
max,1.200000e+01,3.100000e+01,2.020000e+03,1.100000e+02,4.333333e+01

In [25]:
data.groupby('Country')['City'].unique()

Country
Albania                                             [Tirana]
Algeria                                            [Algiers]
Argentina                                     [Buenos Aires]
Australia     [Brisbane, Canberra, Melbourne, Perth, Sydney]
Austria                                             [Vienna]
                                   ...
Uzbekistan                                        [Tashkent]
Venezuela                                          [Caracas]
Vietnam                                              [Hanoi]
Yugoslavia                                        [Belgrade]
Zambia                                              [Lusaka]
Name: City, Length: 125, dtype: object